@page "/drawings"

@using SkiaApp.Services

@inject DrawingNavigationService DrawingService

<PageTitle>Drawings</PageTitle>

<MudContainer MaxWidth="MaxWidth.False" Class="mt-8 mb-8 page-transition">

    <MudText Typo="Typo.h6" Class="mb-2">
            Galería
        </MudText>

    <MudStack Spacing="0" Class="mt-6">
        <MudText Typo="Typo.caption" Class="paper-title">
            DIBUJITOS
        </MudText>
        @foreach (var drawing in drawings)
        {
            <MudPaper Class="pa-4 paper-gradient">
                <div onclick="@(() => OpenDrawing(drawing.Id))">
                    <MudStack Row="true" Justify="Justify.SpaceBetween">

                        <MudText Typo="Typo.caption">
                            @drawing.Name
                            <MudIcon Icon="@drawing.Icon"
                                     Color="Color.Dark" />
                        </MudText>
                        <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" />
                    </MudStack>
                </div>
            </MudPaper>
        }

    </MudStack>

</MudContainer>


@code
{

    private void OpenDrawing(string id)
    {
        DrawingService.ShowDrawing(id);
    }


    public class DrawingItem
    {
        public string Id { get; set; } = "";

        public string Name { get; set; } = "";

        public string Description { get; set; } = "";

        public string Status { get; set; } = "";

        public string Icon { get; set; } = "";

        public Color Color { get; set; }
    }



    private readonly List<DrawingItem> drawings =
    [
        new()
        {
            Id = "flower",

            Name = "Flor",

            Description =
                "Primera animación realizada.",

            Status = "Completado",

            Icon = Icons.Material.Outlined.LocalFlorist,

            Color = Color.Success
        },


        // new()
        // {
        //     Id = "planet",

        //     Name = "Planeta",

        //     Description =
        //         "Gradientes, iluminación y sombras.",

        //     Status = "Próximamente",

        //     Icon = Icons.Material.Outlined.Public,

        //     Color = Color.Warning
        // },


        // new()
        // {
        //     Id = "ship",

        //     Name = "Nave",

        //     Description =
        //         "Transformaciones y movimiento.",

        //     Status = "Próximamente",

        //     Icon = Icons.Material.Outlined.RocketLaunch,

        //     Color = Color.Warning
        // }
    ];
}